<.header>
  Edit Job Configuration
  <:subtitle>Edit job configuration {@job_configuration.name}</:subtitle>
</.header>

<.job_configuration_form
  changeset={@changeset}
  action={~p"/job_configurations/#{@job_configuration}"}
/>

<.back navigate={~p"/job_configurations"}>Back to job configurations</.back>
