<.admin_layout current_admin={@current_admin}>
  <.header>
    New Job Configuration
    <:subtitle>Create a new job configuration</:subtitle>
  </.header>

  <.job_configuration_form changeset={@changeset} action={~p"/admin/job_configurations"} />

  <.back navigate={~p"/admin/job_configurations"}>Back to job configurations</.back>
</.admin_layout>
