<.header>
  New Job Configuration
  <:subtitle>Create a new job configuration</:subtitle>
</.header>

<.job_configuration_form changeset={@changeset} action={~p"/job_configurations"} />

<.back navigate={~p"/job_configurations"}>Back to job configurations</.back>
